*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

html {
  background-image: url("http://i792.photobucket.com/albums/yy202/dainty-ish/misc/54995c.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.tic-tac-toe {
  margin: 60px auto;
  width: 540px;
  height: 540px;
}



.row {
  display: block;
  width: 540px;
  height: 180px;
  margin: 0;
}





div[class*="col"] {
  display: block;
  float: left;
  margin: 2px;
  background-color: rgba(0,0,0,0.5);
  width: 175px;
  height: 175px;
  border-radius: 5px;
}

/*div[class*="1"]{
  border-left: none;
}

div[class*="3"]{
  border-right: none;
}

div.first {
  border-top: none;
}

div.last {
  border-bottom: none;
}
*/
